body {
    background-color: #343A40;
}

img {
    margin-top: 120px;
}

.greatingsstyle {
    color: #e98208;
    font-family: Orbitron;
    letter-spacing: 7px;
    font-size: 60px;
    line-height: 1.5;
    position: relative;
}
.infostyle {
    color: #e98208;
    font-size: 40px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
.clockstyle {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
}