body {
  background-color: rgb(241, 193, 159);
}

.greatingsstyle{
  font-size: 6rem;
  color: coral;
  margin-top: 20px;
}
.clockStyle{
  font-size: 10rem;
  text-align: center;
  color: coral;
  margin-top: 50px;
}

.infostyle{
  color: coral;
  font-size: 2rem;
  margin-top: 150px;
}
